<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="seki.com.simpleweatherapp">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:name=".weather.WeatherApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="seki.com.simpleweatherapp.weather.ui.list.WeatherListActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".weather.ui.detail.WeatherDetailActivity"
            android:label="@string/detail_screen_name"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity android:name=".weather.ui.addLocation.AddLocationActivity"
            android:label="@string/add_location_screen"
            android:theme="@style/AppTheme.NoActionBar"/>

    </application>

</manifest>